:root {
    --bg-color: #1C2E40;
    --primary-color: #385C80;
    --secondary-color: #548ABF;
    --font-color: #DDDDFF;
  }

@font-face {
  font-family: Quicksand-M;
  src: url(../fonts/Quicksand-Medium.ttf);
}

body {
  background-color: var(--bg-color);
  font-family: Quicksand-M;
  color: var(--font-color);
}

nav {
  background-color: var(--primary-color);
}

nav .brand-logo {
  padding-left: 10px;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%)
}

nav ul a {
  font-size: 1.1rem;
}

.sidenav {
  width: 200px;
  background-color: var(--primary-color);
}

.sidenav li > a {
  color: var(--font-color);
}

.card-content {
  background-color: var(--primary-color);
}