{% extends 'base.html' %}

{% block content %}

<section class="container">
    <h1>Artwork</h1>
    <hr />
    <br />
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img
                        src="https://instagram.fcpt1-1.fna.fbcdn.net/v/t51.2885-15/e35/90087847_659224388171033_6193280421513727441_n.jpg?_nc_ht=instagram.fcpt1-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=Y6u_j-_ktOYAX-tI5aR&oh=4048ea5815daa36eff691d00c1875638&oe=5EE1BC45">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img
                        src="https://instagram.fcpt1-1.fna.fbcdn.net/v/t51.2885-15/e35/49907259_376660433123802_4575236915487879568_n.jpg?_nc_ht=instagram.fcpt1-1.fna.fbcdn.net&_nc_cat=106&_nc_ohc=CWpQlku0g14AX81NNG2&oh=6787ad7741d77881bb8c3f332871c90b&oe=5EE1EC38">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img
                        src="https://instagram.fcpt1-1.fna.fbcdn.net/v/t51.2885-15/e35/25012681_551735105186968_5381371237639389184_n.jpg?_nc_ht=instagram.fcpt1-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=bsyEP8Ue8iAAX-LD8PN&oh=a7f9f226fab5e62d8dc4a2440702a2c4&oe=5EDFF968">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card-image">
                <img class="responsive-img"
                    src="https://instagram.fcpt1-1.fna.fbcdn.net/v/t51.2885-15/e35/90087847_659224388171033_6193280421513727441_n.jpg?_nc_ht=instagram.fcpt1-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=Y6u_j-_ktOYAX-tI5aR&oh=4048ea5815daa36eff691d00c1875638&oe=5EE1BC45">
                <span class="card-title">Card Title</span>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card-image">
                <img class="responsive-img"
                    src="https://instagram.fcpt1-1.fna.fbcdn.net/v/t51.2885-15/e35/49907259_376660433123802_4575236915487879568_n.jpg?_nc_ht=instagram.fcpt1-1.fna.fbcdn.net&_nc_cat=106&_nc_ohc=CWpQlku0g14AX81NNG2&oh=6787ad7741d77881bb8c3f332871c90b&oe=5EE1EC38">
                <span class="card-title">Card Title</span>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card-image">
                <img class="responsive-img"
                    src="https://instagram.fcpt1-1.fna.fbcdn.net/v/t51.2885-15/e35/25012681_551735105186968_5381371237639389184_n.jpg?_nc_ht=instagram.fcpt1-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=bsyEP8Ue8iAAX-LD8PN&oh=a7f9f226fab5e62d8dc4a2440702a2c4&oe=5EDFF968">
                <span class="card-title">Card Title</span>
            </div>
        </div>
    </div>

</section>

{% endblock %}